@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-background-base: #080707;
  /* Deepest Ebony */
  --color-background-secondary: #0F0D0D;
  /* Secondary Charcoal */
  --color-foreground-base: #FFFFFF;
  --color-secondary-text: #A8A29E;
  /* Warm Stone Gray */
  --color-border-base: #1C1917;
  /* Subtle Stone Border */
  --color-accent-primary: #FF5733;
  /* Vibrant Orange/Coral */

  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 24px;
}

:root {
  --background: #FFFFFF;
  --background-secondary: #F8F7F6;
  --foreground: #080707;
  --secondary-text: #57534E;
  --accent: #FF5733;
  --border-base: #E7E5E4;
}

.dark {
  --background: #080707;
  --background-secondary: #0F0D0D;
  --foreground: #FFFFFF;
  --secondary-text: #A8A29E;
  --accent: #FF5733;
  --border-base: #1C1917;
}

/* Standard Body Styles */

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #FFFFFF;
  color: #000000;
}